
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{atividade}}</title>

</head>
<body>
    <table border="1" width="600">
        <tr>
            <td>Projeto</td>
            <td>Data de inicio </td>
            <td>Data Final </td>


        </tr>
       {% for det in detalhe %}
            <tr>
                <td>{{det[0]}}</td>
                <td>{{det[1]}}</td>
                <td>{{det[2]}}</td>

            </tr>
       {% endfor %}
    </table>

    <table border="6", width="600">
        <thead>
            <tr>
                <th>Nome</th>>
                <th>Detalhando</th>>
                <th>Data Inicio/Final</th>
                <th>Responsavel</th>
            {% for detail in detativ %}
                </tr>

                </thead>
        <tr>
            <td>{{detail[0]}}</td>
            <td>{{detail[1]}}</td>
            <td>{{detail[2]}}</td>
            <td>{{detail[3]}}</td>>
        </tr>>
       {% endfor %}

    </table>
</body>
</html>