<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem vindo</title>
</head>
<body>
    <h1>Bem vindo {{nome}}</h1>

    <table border="1">
        <tr>
            <td>Nome do projeto</td>
            <td>Data Final </td>
            <td>Gerente </td>

        </tr>
        {% for disciplina in disciplinas %}
            <tr>
                <td><a href="/detalhar/{{disciplina[0]}}">{{disciplina[0]}}</a></td>
                <td>{{disciplina[1]}}</td>
                <td>{{disciplina[2]}}</td>

            </tr>
        {% endfor %}

    </table>
</body>
</html>